pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.128
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.128.deb
	source_x86_64 = openwork-0.11.128.deb::https://github.com/different-ai/openwork/releases/download/v0.11.128/openwork-desktop-linux-amd64.deb
	sha256sums_x86_64 = e364307d9bcf7fb8b6f55c2cd4d0a5cba9401a419f13379fb32451ef297be29d
	source_aarch64 = openwork-0.11.128.deb::https://github.com/different-ai/openwork/releases/download/v0.11.128/openwork-desktop-linux-arm64.deb
	sha256sums_aarch64 = 5e52589a7644f3ef3a741917ac9fe383f61ad236de2c157cb5ac09e97eaf777f

pkgname = openwork
