pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.61
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.61.deb
	source = openwork-0.11.61.deb::https://github.com/different-ai/openwork/releases/download/v0.11.61/openwork-desktop-linux-amd64.deb
	sha256sums = c68d42a04b3f7edfee4fa3856634ed01b735473b8a1959f08755f86298f8b1c3

pkgname = openwork
