pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.67
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.67.deb
	source = openwork-0.11.67.deb::https://github.com/different-ai/openwork/releases/download/v0.11.67/openwork-desktop-linux-amd64.deb
	sha256sums = c5143b97c4e923c6cb4043cfc6c4deef326329a92029df722b2eb665d10a5a78

pkgname = openwork
